#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Formulario.css */

.formulario {
  max-width: 400px;
  margin: 0 auto;

}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ajustar el tamaño del elemento incluyendo el relleno y el borde */
}

.formulario input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.formulario input[type="submit"]:hover {
  background-color: #0056b3;
}
